.background {
	-fx-background-image: url("/piano/picture/background.jpg");
	-fx-background-size: 100% 100%;
}

.play {
	-fx-padding: 0 0 0 0;
	 -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
	
	-fx-background-color:  white;
	-fx-font-weight: bold;
	-fx-font-size: 1.1em;	
	-fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.play: pressed {
	-fx-padding: 2 0 2 0;
	 -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
	
	-fx-background-color:  black;
	-fx-text-fill: white;
}
.play: hover {
	-fx-background-color:  black;
	-fx-text-fill: white;
}

.help {
	-fx-background-radius:  20;
	-fx-border-color:  #ff8300;      
						
	-fx-background-color:  transparent;
	-fx-effect:  dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-border-radius:  20;
	-fx-border-width:  1.5;
	-fx-text-fill: #ff8300;
}

.help: hover{
	-fx-background-color:  #ff8300;
	-fx-text-fill: black;
}

.help: pressed{
	-fx-background-color:  #ff8300;
	-fx-text-fill: black;
}